<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml"
    >
    <head>
            <div th:replace="fragments/header :: header-css"/>

        <title>Doggie Rescue</title>

      
    </head>
    <body>
        <!-- Main Body of Page -->
        <div class="container">
                <div th:replace="fragments/header :: header"/>
            <!-- different main content in different pages-->
            <div clss="container" id="contactContainer">
                <h2>Contact Us</h2>
                <div id="contactDiv">
                    <form id="contactForm" type="form" action="addContact" method="POST">
                        <div class="form-group">
                            <label class="col-4" for="contactName">Name</label>
                            <input
                                type="text"
                                class="col-8 form-control"
                                id="contactName"
                                name="name"
                                />
                            <div th:if="${contact} != null and ${#fields.hasErrors('contact.name')}">
                                <p th:each="error : ${#fields.errors('contact.name')}" 
                                   class="alert alert-danger" th:text="${error}"> Bad name </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-4" for="contactEmail">Email</label>
                            <input
                                type="text"
                                class="col-8 form-control"
                                id="contactEmail"
                                name="email"
                                />
                            <div th:if="${contact} != null and ${#fields.hasErrors('contact.email')}">
                                <p th:each="error : ${#fields.errors('contact.email')}" 
                                   class="alert alert-danger" th:text="${error}"> Bad name </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-4" for="contactPhone">Phone</label>
                            <input
                                type="text"
                                class="col-8 form-control"
                                id="contactPhone"
                                name="phone"
                                />
                            <div th:if="${contact} != null and ${#fields.hasErrors('contact.phone')}">
                                <p th:each="error : ${#fields.errors('contact.phone')}" 
                                   class="alert alert-danger" th:text="${error}"> Bad name </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-4" for="contactMessage">Message</label>
                            <textarea
                                type="textarea"
                                class="col-8 form-control"
                                id="contactMessage"
                                name="message"
                                ></textarea>
                        </div>
                        <!-- <input type="hidden" name="dogId" th:value="${dog.id}" /> -->
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <br>

            <!--different main content end-->
            <div id = "map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3258.6231644845807!2d-80.81669628526674!3d35.240749661611254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8856a0748cf5e66d%3A0x9081da8e1e5f7b1d!2s2315+N+Davidson+St%2C+Charlotte%2C+NC+28205!5e0!3m2!1sen!2sus!4v1546958365501" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <br />2315 N. Davidson Street<br />
                    Charlotte, NC 28205<br />
                    <br />
                    Main: 980-112-3427<br />
                    Adoption Inquiry: 704-837-9377
                  </div>
                  <br>

        </div>
        <br>
        <!--end of container div-->

        <!-- End main body -->

        <div th:replace="fragments/footer :: footer"/>
    </body>
</html>
