<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns="http://www.w3.org/1999/xhtml"
>
  <head>
      <div th:replace="fragments/headerAdmin :: header-css"/>
    <title>Doggie Rescue</title>
  </head>
  <body>
    <!-- Main Body of Page -->
    <div class="container">
        <div th:replace="fragments/headerAdmin :: header"/>
      <!-- different main content in different pages-->
      <div id="searchDivBox">
        <h2>Admin - Breed</h2>
       <hr />
        <form type="form" action="addBreed" method="POST" th:object="${breed}">
          <div id="breedDiv" class="row">
            <div class="col-md-3"><h4>new breed</h4></div>
            <div class="col-md-6">
              <input
                class="form-control"
                type="search"
                placeholder="Breed"
                id="breedInputDiv"
                th:field="*{Name}"
              />
            </div>
            <div class="col-md-3"><button class="btn" type="submit" id="saveBreedButton">Save</button></div>
            
          </div>
        </form>
        <hr />
      </div>
      <!-- breed table-->
      <div id="breedTableDiv">
            <table id="breedTable" class="table table-hover">
                <thead>
                <tr>
                    <th width="17%">Name</th>
                    <th width="17%">Added Date</th>
                    <th width="17%">User</th>
                   
                </tr>
                </thead>
                <tr class="dataRow" th:each="breed : ${breeds}">
                    <!-- <td width="17%" th:text="${object.id}">Item ID</td> -->
                    <td width="17%" th:text="${breed.Name}">Name</td>
                    <td width="17%" th:text="${breed.date}">Added Date</td>
                    <td width="17%" th:text="${breed.user.email}">User</td>
                    
                </tr>
                <!--
                       #3: This holds the list of contacts - we will add rows
                      dynamically
                       using jQuery
                -->
            </table>
        </div>
     

      <!--different main content end-->
    </div>
    <!--end of container div-->

    <!-- End main body -->

   <div th:replace="fragments/footer :: footer"/>
  </body>
</html>
